*{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: red;
  padding: 10px;
  width: 115%;
}
.container{
  padding: 10px;
}
.book-container{
  background-color: black;
  margin-top: 20px;
  width: 60%;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  color: white;
  display: inline-block;
  vertical-align: top;
  
}
.book-container h2{
  color: red;
}
.book-container button{
  background-color: red;
  color: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  
}
.add-button{
  border-radius: 100%;
  background-color: red;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.popup-overlay{
  background-color: black;
  opacity: 0.8;
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.popup-box{
  background-color: red;
  color: red;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 2;
  display: none;
}
.popup-box input{
  background-color: transparent;
  color: white;
  width: 90%;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border: solid black 2px;
  
}
.popup-box textarea{
  background-color: transparent;
  width: 90%;
  margin: 5px;
  padding: 10px;
  font-size: 10px;
  border: solid black 2px;
}
.popup-box input::placeholder{
  color: black;
}
.popup-box textarea::placeholder{
  color: black;
}
.popup-box button{
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  color: white;
}